body {
  font-family: 'Ubuntu', sans-serif;
}
.container-fluid {
  padding: 0;
  /*   height: 150vh; /* TEMPORAL -- PARA PROBAR EL POSITION FIXED DEL NAV */
}

nav#menu {
  position: fixed;
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 100;
}

.header-initial {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-moved {
  height: 70px;
  background-color: rgba(0, 0, 0, 1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav#menu .menu-items {
  display: flex;
  flex-direction: row;
  font-size: 25px;
}

nav#menu .menu-items a {
  color: #fff;
}

nav#menu .menu-item {
  padding-right: 40px;
}

nav#menu .menu-item span {
  padding-right: 30px;
  font-size: 20px;
  color: #dcdcdc;
}

nav .contenedor-buscador {
  width: 35%;
  margin: auto;
}
nav .contenedor-buscador input {
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
  border: none;
  border-radius: 4px;
}

/*HEADER */

header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg-header.jpg);
  background-size: cover;
  background-position: center center;
  padding-top: 40vh;
}

header div.container-fluid {
  height: 100%;
}

header h1 {
  margin: auto;
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 5px 0 #0a0e27;
  width: 80%;
}

/* NAV-PRODUCTOS */

nav#productos {
  background-color: #6bbaa7;
  height: 55px;
  width: auto;
  line-height: 55px;
  color: white;
}

.selector-productos {
  display: none;
  position: relative;
  width: 200px;
  height: 400px;
  background-color: #fff;
}
.navbar-toggler {
  color: #fff;
  width: 80%;
  margin: auto;
}

.bars-productos,
nav#productos .contenedor-buscador {
  display: none;
}

.nav-producto-item input[type='checkbox'] {
  margin-right: 10px;
}

.navbar-collapse {
  color: black;
  background-color: #fff;
}

@media (max-width: 576px) {
  nav#menu {
    padding: 0 20px;
  }
  .bars-productos {
    display: inline;
    width: 50px;
  }
  header {
    padding-top: 27vh;
    height: 300px;
  }
  header h1 {
    font-size: 25px;
  }
  .desktop,
  .menu-item span,
  .contenedor-buscador,
  nav#productos .container {
    display: none;
  }

  nav#productos .contenedor-buscador {
    display: inline-block;
    width: 70%;
  }
  .header-initial {
    height: 70px;
  }
}

/* FOOTER */

footer {
  background-color: #3a3a3a;
  color: white;
  padding-top: 30px;
}

footer .copyright {
  background-color: #333333;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

footer .row {
  margin-bottom: 40px;
}

footer .copyright p {
  margin: 5px;
  color: #585858;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 2;
}

footer h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

footer h2 a {
  display: inline-block;
  align-content: center;
  margin-left: 40px;
  padding-top: 60px;
}

footer a {
  color: #d2d1d1;
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
  color: #ffffff;
}

footer .social {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 16px;
}

footer .social a {
  font-size: 40px;
  color: #ffffff;
  padding: 10px;
}

footer .social a:hover {
  text-decoration: none;
}

footer .facebook:hover {
  color: #005eb1;
}

footer .instagram:hover {
  color: #ef7a1a;
}

footer .twitter:hover {
  color: #00b0f0;
}

footer .btn {
  color: #ffffff;
  background-color: #6bbaa7;
  border-radius: 10px;
  border: none;
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  line-height: 25px;
}

footer .btn:hover {
  color: #ffffff;
  background-color: #f5903e;
}

@media screen and (max-width: 767px) {
  footer {
    text-align: center;
  }
}
